{"unrestricted_channels":["CXXXXX"],
 "app_token": "xapp-XXXX",
 "bot_token": "xoxb-XXXX",
 "reddit_id":"XXX",
 "reddit_secret": "XXX",
 "tidyhq_token": "XXX",
 "calendar_id": "XXXX@group.calendar.google.com",
 "urls":["https://XXX.YY","https://XXX.YY/abc]}