{"unrestricted_channels":["CXXXX"],
 "app_token": "xapp-XXXX",
 "bot_token": "xoxb-XXXX",
 "calendar_id": "",
 "reddit_id":"",
 "reddit_secret": "",
 "tidyhq_token": "",
 "urls":["https://XXX.YY","https://XXX.YY/abc"],
 "bot":{"dev":true,
        "debug":true,
        "slack_error_webhook":"",
        "name":"queryBot",
        "org_name": "ACME Inc",
        "restricted_commands":["tidyhq"],
        "emoji":{"approve":"+1",
                 "remove":"-1",
                 "trigger":"chat-gpt"},
                 "stalling":"thinking_face"},
 "aliases":{"alias_name":"!url-https://www.youtube.com/watch?v=1wnE4vF9CQ4",
            "alias2":"!command1 !command2 !command3"},
 "channel_maps":{"CXXX":"!command"},
 "models":{"unrestricted":"gpt-3.5-turbo",
           "emoji":"gpt-3.5-turbo",
           "page_summary":"gpt-3.5-turbo"}}