{"unrestricted_channels":["CXXXX],
 "app_token": "xapp-XXXX",
 "bot_token": "xoxb-XXXX",
 "calendar_id": "XXXX@group.calendar.google.com",
 "reddit_id":"XXX",
 "reddit_secret": "XXX",
 "tidyhq_token": "XXXXXX",
 "urls":["https://XXX.YY","https://XXX.YY/abc],
 "bot":{"dev":true,
        "debug":true,
        "slack_error_webhook":"",
        "name":"queryBot",
        "org_name": "ACME Inc",
        "restricted_commands":["tidyhq"]}}